<ion-header>
        <ion-toolbar>
          <ion-title>Home</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
 <ion-slides [options]="slideOptsOne">
   <!-- <ion-slide>
     <img src="http://placehold.it/300x300/ff0000/ffffff" alt="">
   </ion-slide>
   <ion-slide>
    <img src="http://placehold.it/300x300/ffcc33/ffffff" alt="">
  </ion-slide>
  <ion-slide>
    <img src="http://placehold.it/300x300/33ccff/ffffff" alt="">
  </ion-slide> -->
  <ion-slide *ngFor="let slide of slideData">
    <img src="{{slide.image}}" />
  </ion-slide>
 </ion-slides>
<ion-item>
 <ion-label text-wrap position="fixed">
  Four-Wheeler
</ion-label>
</ion-item>

<ion-slides>
  <ng-container *ngFor='let det of array_serv'>
  <ion-slide  *ngIf='det.vehicleType === "car"'  >
    <ion-card  button style="border-radius: 15px;"  (click)="addCart(det.packageId)">
      <ion-card-header>
        
        <ion-card-title style="color: brown;font-size: 25px;">{{det.name}}</ion-card-title>
        <ion-card-subtitle>{{det.duration}} Months</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{det.details}}<br><b>{{det.vehicleCatagory}}</b></ion-card-content>
  </ion-card>
  </ion-slide>
</ng-container>


</ion-slides>
<ion-item>
  <ion-label text-wrap position="fixed">
   Two-Wheeler
 </ion-label>
 </ion-item>
 <ion-slides >
  <ng-container *ngFor='let det of array_serv'>
  <ion-slide  *ngIf='det.vehicleType === "bike"'  >
    <ion-card  button style="border-radius: 15px;"  (click)="addCart(det.packageId)">
      <ion-card-header>
        
        <ion-card-title style="color: brown;">{{det.name}}</ion-card-title>
        <ion-card-subtitle>{{det.duration}} Months</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>{{det.details}}<br><b>{{det.vehicleCatagory}}</b></ion-card-content>
  </ion-card>
  </ion-slide>
</ng-container>


</ion-slides>
      </ion-content>
