ion-title{
    
    text-align: center;
}
ion-label{
    width:100%;
    text-align: center;
}

ion-slides{
    height:200px;
}

ion-card{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 85%;
  }