ion-title{
    
    text-align: center;
}
ion-label{
    width:100%;
    text-align: center;
}

ion-slides{
    height:200px;
}

ion-card{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 85%;
  }

ion-card-content{
    font-size: 20px;
    color: white;
}
ion-card-subtitle{
    
    font-size: 17px;
    color: white;

}