<ion-header>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button routerLink="/tabs/tabs/profile" routerDirection="backward"></ion-back-button>
      </ion-buttons>
      <ion-title>Coupons</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content >
  <ion-list *ngFor="let item of resp">

    <ion-item>
      <ion-card color="dark">
        
        <!-- <ion-grid>
       
            <ion-row>
              <ion-col>
               Service {{item.name}}
              </ion-col>
              <ion-col>
              PackageID:  {{item.packageId}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
               Duration: {{item.duration}}
              </ion-col>
              <ion-col>
               Price : {{item.price}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
               Vehicle: {{item.brandName}} {{item.vehicleModel}}
              </ion-col>
             
              <ion-col>
               Number: {{item.number}}
              </ion-col>
            </ion-row>
          </ion-grid> -->
      </ion-card>
    </ion-item>
    
  </ion-list>
  

<div class="ion-text-center" style="color: grey;" *ngIf="flag">
  <h3>No coupons found</h3>
</div>
</ion-content>
