ion-content {
    div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 350%;
      font-family:cursive;
      font-style:bold;
      font-weight:600;
      color:#f04141;
      background-color: rgb(59, 59, 59);
     
      
    }
   }
   
   