<ion-header>
  <ion-toolbar>
    <ion-title align-title="center">Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
        
<ng-container *ngFor='let det of array_serv'>

            <ion-card style="border-radius: 25px;" button (click)="addCart(det.packageId)">
              <ion-card-header>
 
              <ion-card-title style="color: brown;font-size: 25px;">{{det.name}}</ion-card-title>
              <ion-card-subtitle>{{det.duration}} Months</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>{{det.details}}<br>
              {{det.vehicleCatagory}}</ion-card-content>
            </ion-card>
      </ng-container>

</ion-content>
