<ion-header>
  <ion-toolbar>
    <ion-title align-title="center">Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides>
        

        <ion-slide>
            <ion-card style="border-radius: 25px;">
                <ion-card-header>
                  <ion-card-title>offer1</ion-card-title>
                  <ion-card-subtitle>1 month</ion-card-subtitle>
                  </ion-card-header>
                
                  <ion-card-content>
                    External Wash Weekly + 1 Extra interior wash
                  </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="border-radius: 25px;">
            <ion-card-header>
              <ion-card-title>offer2</ion-card-title>
              <ion-card-subtitle>3 months</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                External Wash weekly + 2 Extra interior wash
              </ion-card-content>
        </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="border-radius: 25px;">
            <ion-card-header>
              <ion-card-title>offer3</ion-card-title>
              <ion-card-subtitle>3 months</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                External Wash daily + 2 Extra interior wash
              </ion-card-content>
        </ion-card>
        </ion-slide>
        
      </ion-slides>
      <ion-slides>
        <ion-slide>
            <ion-card style="border-radius: 25px;">
                <ion-card-header>
                  <ion-card-title>offer1</ion-card-title>
                  <ion-card-subtitle>1 month</ion-card-subtitle>
                  </ion-card-header>
                
                  <ion-card-content>
                    External Wash Weekly + 1 Extra interior wash
                  </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="border-radius: 25px;">
            <ion-card-header>
              <ion-card-title>offer2</ion-card-title>
              <ion-card-subtitle>3 months</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                External Wash weekly + 2 Extra interior wash
              </ion-card-content>
        </ion-card>
        </ion-slide>  
        <ion-slide>
          <ion-card style="border-radius: 25px;">
            <ion-card-header>
              <ion-card-title>offer3</ion-card-title>
              <ion-card-subtitle>3 months</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                External Wash daily + 2 Extra interior wash
              </ion-card-content>
        </ion-card>
        </ion-slide>
      </ion-slides>
</ion-content>
