<ion-header>
    <ion-toolbar>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    
      <!-- <ion-slides>
        <ion-slide>
          <ion-card style="height:200px !important;">
              <ion-card-header>
                <ion-card-title>Vehicle 1</ion-card-title>
                <ion-card-subtitle>1 month</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content style="text-align: left;">
                  Vehicle type<br>
                  Vehicle Number<br>
                  Package Selected<br>
                </ion-card-content>
                <ion-label>Start - End Date</ion-label>
               
          </ion-card>
      </ion-slide>
       
      </ion-slides> -->
        <ion-slides #slides (ionSlideDidChange)="slideChanged()" > 
          <ion-slide *ngFor='let veh of vehicle'>
              <ion-card style="height:200px !important;">
                  <ion-card-header>
                    <ion-card-title >{{veh.brandName}}  {{veh.vehicleModel}}</ion-card-title>
                    <ion-card-subtitle>{{veh.duration}}</ion-card-subtitle>
                    </ion-card-header>
                  
                    <ion-card-content style="text-align: left;">
                      Vehicle type:{{veh.vehicleType}}<br>
                      Vehicle Number:{{veh.number}}<br>
                      Package Selected:{{veh.id}}<br>
                      Preferred Time:{{veh.time}} A.M<br>

                    </ion-card-content>
                    <ion-label>Date:{{veh.duration}}</ion-label>
                   
              </ion-card>
          </ion-slide> 
        </ion-slides>
       
<ion-grid>

  <ion-row>
        <ion-button style="margin:auto;" color="danger" size="medium" expand="block" class="buttons" routerLink="/cart" routerDirection="forward">
          <ion-icon name="cart-sharp" style="padding-right: 3%;"></ion-icon>  View Cart</ion-button>
          

        <ion-button style="margin:auto;" size="medium" class="buttons" (click)="presentActionSheet()">
          <ion-icon name="time-sharp" style="padding-right: 3%;">
          </ion-icon>Change Time
          <!-- <ion-datetime [hidden]=1 #picker  displayFormat="HH:mm" ></ion-datetime>  -->
       </ion-button>

  </ion-row>
  <br>
  

  <ion-row>

        <ion-button style="margin:auto;" color="warning" size="medium"   expand="block" class="buttons" routerLink="/gps" routerDirection="forward"><ion-icon name="analytics-sharp" style="padding-right: 3%;"></ion-icon>Track Job</ion-button>
  
        <ion-button style="margin:auto;" color="tertiary" size="medium"  expand="block" class="buttons" routerLink="/addvehicle" routerDirection="forward"><ion-icon name="car-sharp"  style="padding-right: 3%;"></ion-icon>Add vehicle</ion-button>
  </ion-row>
</ion-grid>
       
</ion-content>