<ion-header>
    <ion-toolbar>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
          <ion-slides pager="true"  loop="true" autoplay="2300" speed="1000">
            <ion-slide>
              <img src="../../assets/untitled.png"> 
            </ion-slide>
            <ion-slide >
                <img src="../../assets/untitled1.png"> 
  
            </ion-slide>
            <ion-slide>
                <img src="../../assets/untitled2.png"> 
  
            </ion-slide>
          </ion-slides>
          <br>
          <br>
          <br>
        <ion-slides>
        

          <ion-slide>
              <ion-card style="border-radius: 25px;">
                  <ion-card-header>
                    <ion-card-title>Service1</ion-card-title>
                    <ion-card-subtitle>1 month</ion-card-subtitle>
                    </ion-card-header>
                  
                    <ion-card-content>
                      External Wash Weekly + 1 Extra interior wash
                    </ion-card-content>
              </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card style="border-radius: 25px;">
              <ion-card-header>
                <ion-card-title>Service2</ion-card-title>
                <ion-card-subtitle>3 months</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  External Wash weekly + 2 Extra interior wash
                </ion-card-content>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card style="border-radius: 25px;">
              <ion-card-header>
                <ion-card-title>Service3</ion-card-title>
                <ion-card-subtitle>3 months</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  External Wash daily + 2 Extra interior wash
                </ion-card-content>
          </ion-card>
          </ion-slide>
          
        </ion-slides>
        <ion-slides>
          <ion-slide>
              <ion-card style="border-radius: 25px;">
                  <ion-card-header>
                    <ion-card-title>Service1</ion-card-title>
                    <ion-card-subtitle>1 month</ion-card-subtitle>
                    </ion-card-header>
                  
                    <ion-card-content>
                      External Wash Weekly + 1 Extra interior wash
                    </ion-card-content>
              </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card style="border-radius: 25px;">
              <ion-card-header>
                <ion-card-title>Service2</ion-card-title>
                <ion-card-subtitle>3 months</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  External Wash weekly + 2 Extra interior wash
                </ion-card-content>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card style="border-radius: 25px;">
              <ion-card-header>
                <ion-card-title>Service3</ion-card-title>
                <ion-card-subtitle>3 months</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  External Wash daily + 2 Extra interior wash
                </ion-card-content>
          </ion-card>
          </ion-slide>
          
        </ion-slides>
  </ion-content>