ion-title{
    
    text-align: center;
}
ion-item{
    white-space: pre-line !important;
    min-width: 100% !important;
    
}

ion-item{
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
  
}
