.buttons
{
    width: 40%;
    margin-left:6%;
    font-size: 18px;
    
}

ion-button.buttons1
{
    margin-left:6%;
    font-size: 18px; 
    width:88%;
    border-radius: 50px;

}

ion-title{
    
    text-align: center;
}