<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #pageTop>

    <br>
    <br>
    <ion-item>
        <ion-label >Vehicle type </ion-label>
        <ion-select interface="popover" [(ngModel)]="type" (ionChange)="onChange1(type)">
            <ion-select-option value="Two wheeler">Two-wheeler</ion-select-option>
            <ion-select-option value="Car">Car</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item [hidden]="!car">
                  
        <ion-label>Car type</ion-label>
        <ion-select interface="popover" [(ngModel)]="catagory" (ionChange)="onChange2()">
          <ion-select-option value="sedan">Sedan</ion-select-option>
          <ion-select-option value="hatchback">Hatchback</ion-select-option>
          <ion-select-option value="suv">SUV</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item [hidden]="!bike">
          
          <ion-label>Bike type</ion-label>
          <ion-select interface="popover" [(ngModel)]="catagory">
          <ion-select-option value="sports">sports bike</ion-select-option>
          <ion-select-option value="moped">moped</ion-select-option>
          <ion-select-option value="bike">bike</ion-select-option>
          </ion-select> 
          <br>
          <br>     
      </ion-item>
      
     
      <ion-item>
          <ion-label >Select Brand</ion-label>
            
          <ion-select interface="popover" [(ngModel)]="brand" [hidden]="!car" (ionChange)="sendCardet()">
            <ion-select-option value="hyundai">Hyundai</ion-select-option>
            <ion-select-option value="suzuki">Maruti Suzuki</ion-select-option>
            <ion-select-option value="honda">Honda</ion-select-option>
            </ion-select>

            <ion-select interface="popover" [(ngModel)]="brand" [hidden]="!bike" >
                <ion-select-option value="Honda">Honda</ion-select-option>
                <ion-select-option value="Bajaj">bajaj</ion-select-option>
                <ion-select-option value="Hero">hero</ion-select-option>
                </ion-select>
        </ion-item>
        <br>
      <br>
      <ion-item>
        <ion-label >Select Model</ion-label>
        <ion-select interface="popover" [(ngModel)]="model">
          <ion-select-option *ngFor="let model of resp.list">{{model}}</ion-select-option>
          </ion-select>
          </ion-item>
          <br>
      <br>
      <ion-item  >
              <ion-label >Vehicle Number</ion-label>
              <ion-input placeholder="Eg: GJ-13-CC-710" [(ngModel)]="number" ></ion-input>
            </ion-item>
            <br>
      <br>
      <ion-item>
                <ion-label >Parking location</ion-label><br>
                <ion-select  interface="popover" [(ngModel)]="area" (ionChange)="onChange()">
                    <ion-select-option value="Basement 1">Basement 1</ion-select-option>
                    <ion-select-option value="Basement 2">Basement 2</ion-select-option>
                    <ion-select-option value="Ground Floor">Ground Floor</ion-select-option>
                    <ion-select-option value="4">Other</ion-select-option>
                </ion-select>
      </ion-item>
        <ion-item *ngIf="vara==4">
            <ion-label>Specify location</ion-label>
            <ion-input  type="text" [(ngModel)]="area"></ion-input>
        </ion-item>
              <br>
      <br>
      <ion-item>
                  <ion-label>Preferred time</ion-label>
                  <ion-select interface="popover" [(ngModel)]="time">
                      <ion-select-option value=5>5:00-6:00 AM</ion-select-option>
                      <ion-select-option value=6>6:00-7:00 AM</ion-select-option>
                      <ion-select-option value=7>7:00-8:00 AM</ion-select-option>
                      <ion-select-option value=8>8:00-9:00 AM</ion-select-option>
                      <!-- <ion-select-option value="0">Any</ion-select-option> -->

                  </ion-select>
                </ion-item>
                <br>
                <br>
                <br>
               
                <br>
                <br>
                <br>
                
<ion-button  shape=round class="buttons" size=medium  fill="solid" expand="block" color="dark"  (click)=dash()  style="width: 50%;margin-right:25%;margin-left:25%" >Add More</ion-button>
<br>
<ion-button  shape=round class="buttons" size=medium  fill="solid" expand="block" color="dark" (click)=finaldash()  style="width: 50%;margin-right:25%;margin-left:25%" >Submit</ion-button>

</ion-content>
